@using Flexybox2.Model

<div class="company-details">
    <!-- Header with back button and heart icon -->
    <div class="header-row">
        <h1 class="company-name">@Company.Name</h1>
        <div class="heart-icon @(IsFavorite ? "favorite" : "")" @onclick="OnToggleFavorite">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="@(IsFavorite ? "#ff0000" : "black")">
                <g clip-path="url(#clip0_1_19099)">
                    <path d="M14.4439 1.96389C13.7156 1.30938 12.781 0.97118 11.8371 0.999311C10.6653 0.999311 9.48253 1.48066 8.61765 2.37398L8.0019 3.00755L7.38614 2.37398C6.52033 1.48066 5.33883 0.999311 4.1667 0.999311C3.22275 0.999311 2.28911 1.30969 1.53301 1.96389C-0.409281 3.64519 -0.506489 6.64302 1.24451 8.45278L7.28331 14.6947C7.48304 14.8992 7.73934 15.0023 7.99877 15.0023C8.2592 15.0023 8.52045 14.9002 8.71799 14.6959L14.7537 8.45391C16.51 6.64115 16.4131 3.64363 14.4439 1.96389ZM13.6781 7.41006L8.0019 13.2801L2.3238 7.41006C1.31609 6.36921 1.07729 4.31565 2.5151 3.0982C3.76224 2.01859 5.47167 2.55121 6.30966 3.41608L8.00284 5.16395L9.6957 3.41608C10.5215 2.56371 12.2356 2.01297 13.4903 3.0982C14.9128 4.33128 14.7065 6.34733 13.6781 7.41006Z" fill-opacity="0.6"/>
                </g>
                <defs>
                    <clipPath id="clip0_1_19099">
                        <rect width="16" height="16" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
        </div>
    </div>

    <!-- Company Information Section -->
    <div class="company-info">
        <div class="status-line">
            <span class="status-indicator @(IsOpen ? "open" : "closed")"></span>
            <span class="status-text">@(IsOpen ? "Open" : "Closed")</span>
            <span class="sep">·</span>
            <span class="address">@Company.Address</span>
            <span class="sep">,</span>
            <span class="postcode">@Company.PostalCode</span>
            <span class="sep">·</span>
            <span class="city">@Company.City</span>
        </div>
        
        <div class="contact-info">
            <div class="contact-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M11 0H5C3.89531 0 3 0.895313 3 2V14C3 15.1047 3.89531 16 5 16H11C12.1047 16 13 15.1047 13 14V2C13 0.895313 12.1031 0 11 0ZM12 14C12 14.5513 11.5513 15 11 15H5C4.44875 15 4 14.5513 4 14V2C4 1.44875 4.44875 1 5 1H11C11.5513 1 12 1.44875 12 2V14ZM9 12.5H7C6.72388 12.5 6.5 12.7238 6.5 13C6.5 13.2761 6.72388 13.5 7 13.5H9C9.27612 13.5 9.5 13.2761 9.5 13C9.5 12.725 9.275 12.5 9 12.5Z" fill="#A0CFA4"/>
                </svg>
                <span class="contact-text">+45 @Company.Phone</span>
                <span class="spaced-elements"></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <g clip-path="url(#clip0_1_19129)">
                        <path d="M8.12309 0.00212114C3.34981 -0.0675447 -0.441277 4.15107 0.0415171 8.90435C0.440179 12.831 3.44814 15.7443 7.42477 15.9976C7.73393 16.0175 7.99743 15.773 7.99743 15.4629C7.99743 15.1831 7.77903 14.9499 7.5001 14.9323C3.96347 14.7047 1.31017 12.053 1.07684 8.51569C0.815108 4.52907 3.84181 1.15577 7.83009 1.06911C11.7667 0.98221 14.9 4.06141 14.9 8.00903V8.75769C14.9 9.63868 14.315 10.4433 13.4554 10.6333C12.243 10.9013 11.1664 9.98034 11.1664 8.81202V4.80873C11.1664 4.51387 10.9275 4.27474 10.6327 4.27474C10.3381 4.27474 10.0987 4.51357 10.0987 4.8084V5.40439C9.26708 4.5524 8.03776 4.09141 6.71211 4.34274C5.24979 4.6244 4.0598 5.82439 3.79314 7.32104C3.36915 9.68301 5.18246 11.7477 7.46643 11.7477C8.71275 11.7477 9.8104 11.1267 10.4891 10.1843C11.0384 11.2123 12.167 11.8853 13.4457 11.7227C14.927 11.5341 16 10.2033 16 8.70869V8.01103C15.9697 3.56108 12.5497 0.0664537 8.12309 0.00212114ZM7.4631 10.6777C5.99212 10.6777 4.7958 9.48001 4.7958 8.00803C4.7958 6.53605 5.99312 5.34106 7.4631 5.34106C8.93308 5.34106 10.1304 6.53871 10.1304 8.0107C10.1304 9.48268 8.93641 10.6777 7.4631 10.6777Z" fill="#A0CFA4"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_1_19129">
                            <rect width="16" height="16" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                <span class="contact-text">@Company.Email</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <g clip-path="url(#clip0_1_19136)">
                        <path d="M8 0C3.52812 0 0.143219 3.72188 0.00065 8L0 9.6625C0 10.9531 1.02344 12 2.28562 12H2.85719C3.4875 12 4 11.4781 4 10.8313V6.66875C4 6.02187 3.4875 5.5 2.85719 5.5H2.28562C2.18322 5.5 2.08737 5.52234 1.98881 5.53587C2.9625 3.17187 5.29063 1.50625 8 1.50594C10.7106 1.5063 13.0375 3.17344 14.0125 5.50906C13.9125 5.52187 13.8156 5.5 13.7156 5.5H13.1441C12.5125 5.5 12 6.02187 12 6.66875V10.8313C12 11.4781 12.5125 12 13.1438 12H13.7153C13.9927 12 14.255 11.9418 14.5009 11.8494V12.5C14.5009 13.1894 13.9403 13.75 13.2509 13.75H9.79156C9.53125 13.3031 9.05313 13 8.5 13H7.5C6.67188 13 6 13.6719 6 14.5C6 15.3281 6.67188 16 7.47188 16H8.5C9.05375 16 9.53219 15.6965 9.79187 15.25H13.25C14.7666 15.25 16 14.0166 16 12.5V8C15.8562 3.72188 12.4719 0 8 0ZM2.28562 7H2.5V10.5H2.28562C1.8525 10.5 1.5 10.0969 1.5 9.6625V8C1.5 7.92469 1.50873 7.85156 1.51129 7.77684C1.54156 7.34375 1.87219 7 2.28562 7ZM13.7156 10.5H13.5V7H13.7143C14.1277 7 14.4583 7.345 14.4887 7.77688C14.4906 7.85313 14.5 7.925 14.5 8V9.66375C14.5 10.0969 14.1469 10.5 13.7156 10.5Z" fill="#A0CFA4"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_1_19136">
                            <rect width="16" height="16" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public Company Company { get; set; } = new();
    [Parameter] public bool IsFavorite { get; set; }
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public EventCallback OnToggleFavorite { get; set; }
}